@font-face {
    font-family: Oswald;
    src: url('Oswald/Oswald-VariableFont_wght.ttf');
}
@font-face {
    font-family: Jost;
    /* src: url('Jost/Jost-VariableFont_wght.ttf'); */
    src: url('Jost/Jost-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: Bebas;
    /* src: url('Jost/Jost-VariableFont_wght.ttf'); */
    src: url('Bebas_Neue/BebasNeue-Regular.ttf');
}
body {
    margin: 0;
}
#Whole {
    width: 100%;
    height: 200ch;
    background-color: rgb(255, 248, 238);
    
}
#UpBar {
    position: fixed;
    background-color: rgb(57, 57, 57);
    background-color: white;
    width: 100%;
    height: 8ch;
    text-align: left;
    /* background-color: aquamarine; */
}
#UpBar-logo-1 {
    margin-left: 4ch;
    align-items: center;
    display: flex;
    /* margin-left: auto; */
    margin-right: 0;
    /* display: block; */
    height: 100%;
    float:left
    
}
#Center {
    width: 100%;
    height: 92ch;
    background-color: rgb(255, 255, 255);
    font-family: Oswald;
}
#Project1 {
    width: calc(100% / 3);
    height: 100%;
    background-color: #ff5b74;
    float: left;
    display: flex;
    align-items: center;
    -webkit-transition : height 1s;
    transition: 7.5vh;
}
#Project1:hover {
    height: calc(100% + 5ch);
}

#Project2 {
    width: calc(100% / 3);
    height: 100%;
    background-color: rgb(97, 255, 218);
    float: left;
    display: flex;
    align-items: center;
    -webkit-transition: height 1s;
    transition: 7.5vh;
}
#Project2:hover {
    height: calc(100% + 5ch);
}
#Project3 {
    width: calc(100% / 3);
    height: 100%;
    background-color: rgb(67, 170, 255);
    display: flex;
    align-items: center;
    float: left;
    -webkit-transition: height 1s;
    transition: 7.5vh;
}
#Project3:hover {
    height: calc(100% + 5ch);
}

.main-heading-2 {
    width: auto;
    max-width: 18ch;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
    font-family: Oswald,sans-serif;
    font-size: 6.5vh;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-transition: font-size 1s ;
    transition: 7.5vh;
}
.main-heading-2:hover {
    font-size: 7.5vh
}
.logo-1 {
    color: #242d2c;
    text-align: left;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    /* border-left: 1px solid #242d2c;
    margin-left: 24px;
    padding-top: 0;
    /* padding-bottom: 0;
    padding-left: 16px; */
    font-family: Bebas,sans-serif;
    font-size: 5vh;
    font-weight: 500;
    line-height: 16px;
}
.logo-description {
    color: #242d2c;
    text-align: left;
    /* letter-spacing: 2.2px; */
    text-transform: uppercase;
    /* border-left: 1px solid #242d2c;
    margin-left: 24px;
    padding-top: 0;
    /* padding-bottom: 0;
    padding-left: 16px; */
    font-family: Jost,sans-serif;
    font-size: 10px;
    /* font-weight: 500; */
    line-height: 16px;
    margin-left: 10px;
}

#Graph_img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#Game_img {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Robot_img {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#Code {
    height: 80%;
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: auto;
    border-color: #242d2c;
    background-color: #a3a3a3;
    border-radius: 20px;
    border: 20px;
    border: 10px;
}